*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

figure{
    position: relative;
    overflow: auto;
}

.carousel-img img{
    max-width: 100%;
    height: 500px;
}

.scroll-up,
.scroll-down{
    position: absolute;
    left: 50%;
    padding: 2px;
    transform: translateX(-50%);
    background-color: #CCCCCC;
    border-radius: 50%;
    cursor: pointer;
}

.scroll-up{
    top: 10px;
}

.scroll-down{
    bottom: 10px;
}

.hidden{
    display: none;
}

#side-carousel{
    position: absolute;
    height: 500px;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
}

.side-img{
    height: 100px;
}

.side-img img{
    height: calc(500px / 5);
    width: 150px;
}